<po-page-detail p-title="Casos por Cidade">
    <div class="po-row">
        <div [formGroup]="SearchByStateForm">
            <po-combo name="state" formControlName="state" p-field-label="nome" p-field-value="sigla"
                p-label="Cidades por Estado" [p-options]="States" p-help="Digite para buscar"
                (p-change)="onChangeState($event)">
            </po-combo>
        </div>
    </div>
    <po-container [p-no-shadow]="true" [p-no-border]="true">
        <po-container *ngFor="let case of Data; let i = index" class="po-lg-3 po-mt-2">
            <div class="po-row">
                <span class="po-font-subtitle">{{case['city']}}</span>
            </div>
            <div class="po-row">
                <span class="po-font-subtitle">{{case['state']}}</span>
            </div>
            <hr />
            <div class="po-row">
                <po-info class="po-md-12" p-orientation="horizontal" p-label="População estimada"
                    p-value="{{case['estimated_population_2019']}}">
                </po-info>
                <po-info class="po-md-12" p-orientation="horizontal" p-label="Casos confirmados"
                    p-value="{{case['confirmed']}}">
                </po-info>
                <po-info class="po-md-12" p-orientation="horizontal" p-label="Número de Mortes"
                    p-value="{{case['deaths']}}"> </po-info>
            </div>
            <span class="date-updated">Dados atualizados em {{case['date'] | date: 'dd/MM/yyyy'}}</span>
        </po-container>
    </po-container>
</po-page-detail>