<po-page-detail p-title="Casos por Cidade">
    <div class="po-row">
        <div [formGroup]="SearchByStateForm">
            <div class="po-lg-6">
                <po-combo name="Estado" formControlName="state" p-field-label="nome" p-field-value="sigla"
                    p-label="Selecione o Estado" [p-options]="States" p-help="Digite para buscar"
                    (p-change)="onChangeState($event)">
                </po-combo>
            </div>
            <div class="po-lg-6">
                <po-combo name="Cidade" formControlName="district" p-field-label="nome" p-field-value="nome"
                    p-label="Selecione a Cidade" [p-options]="Districts" p-help="Digite para buscar"
                    (p-change)="onChangeDistrict($event)" [p-disabled]="!stateSelected">
                </po-combo>
            </div>
        </div>
        <div *ngIf="stateSelected" class="po-lg-6 po-mt-5" style="margin-top: 48px;">
            <po-button p-label="Limpar" p-type="danger" (p-click)="clearConditionsClick()"> </po-button>
        </div>
    </div>
    <po-container [p-no-shadow]="true" [p-no-border]="true">
        <po-container *ngFor="let case of Data | paginate: {itemsPerPage: limit, currentPage: p, totalItems: count}"
            class="po-lg-3 po-mt-2">
            <div class="po-row">
                <span class="po-font-subtitle">{{case['city']}}</span>
            </div>
            <div class="po-row">
                <span class="po-font-subtitle">{{case['state']}}</span>
            </div>
            <hr />
            <div class="po-row">
                <po-info class="po-md-12" p-orientation="horizontal" p-label="População estimada"
                    p-value="{{case['estimated_population_2019']}}">
                </po-info>
                <po-info class="po-md-12" p-orientation="horizontal" p-label="Casos confirmados"
                    p-value="{{case['confirmed']}}">
                </po-info>
                <po-info class="po-md-12" p-orientation="horizontal" p-label="Número de Mortes"
                    p-value="{{case['deaths']}}"> </po-info>
            </div>
            <span class="date-updated">Dados atualizados em {{case['date'] | date: 'dd/MM/yyyy'}}</span>
        </po-container>
    </po-container>
    <nav *ngIf="Data">
        <ul class="pagination">
            <pagination-controls class="my-pagination" (pageChange)="getPage($event)" previousLabel="Anterior"
                nextLabel="Próximo">
            </pagination-controls>
        </ul>
    </nav>
</po-page-detail>