<po-page-detail p-title="Sobre">
    <div class="po-row">
        <po-widget class="po-sm-12 po-md-6 po-lg-4 po-mt-2" p-title="Desenvolvido por" p-primary-label="Github"
            p-secondary-label="Linkedin" (p-primary-action)="goToLink('https://github.com/hppod')"
            (p-secondary-action)="goToLink('http://bit.ly/linkedin-hppod')">
            <po-avatar class=" po-md-4" p-size="lg"
                p-src="https://coronaviruseobrasil.s3-sa-east-1.amazonaws.com/public_src/image96x96.jpg">
            </po-avatar>
            <div class="po-md-8">
                <p>Hygor Podgornik</p>
                <p>contato@brasileocoronavirus.com.br</p>
            </div>
        </po-widget>
        <po-widget class="po-sm-12 po-md-6 po-lg-8 po-mt-2" p-title="Dados">
            <div class="po-md-12">
                <p>Os dados utilizados nesta aplicação são fornecidos pelas 27 Secretarias Estaduais de Saúde e
                    disponibilizados pelos voluntários da <a target="_blank" href="https://brasil.io/home/">
                        <b>Brasil.io</b></a>. Sem o
                    trabalho dos 40 voluntários, que diariamente compilam os boletins epidemiológicos essa aplicação não
                    seria possível. Caso queira conhecer a metodologia de coleta de dados <a
                        href="https://docs.google.com/document/d/1escumcbjS8inzAKvuXOQocMcQ8ZCqbyHU5X5hFrPpn4/edit#heading=h.dridhyh3vung"
                        target="_blank">clique aqui</a></p>
            </div>
        </po-widget>
    </div>
</po-page-detail>