<po-page-detail p-title="Sobre">
    <div class="po-row">
        <po-widget class="po-sm-12 po-md-6 po-lg-4 po-mt-2" p-height="373" p-title="Desenvolvido por"
            p-primary-label="Github" p-secondary-label="Linkedin"
            (p-primary-action)="goToLink('https://github.com/hppod')"
            (p-secondary-action)="goToLink('http://bit.ly/linkedin-hppod')">
            <po-avatar class=" po-md-4" p-size="lg"
                p-src="https://coronaviruseobrasil.s3-sa-east-1.amazonaws.com/public_src/image96x96.jpg">
            </po-avatar>
            <div class="po-md-8">
                <p>Hygor Podgornik</p>
                <p>contato@brasileocoronavirus.com.br</p>
            </div>
        </po-widget>
        <po-widget class="po-sm-12 po-md-6 po-lg-8 po-mt-2" p-title="Créditos">
            <div class="po-md-12">
                <h4 class="po-font-text-large-bold">Dados</h4>
                <p>Os dados utilizados nesta aplicação são fornecidos pelas 27 Secretarias Estaduais de Saúde e
                    disponibilizados pelos voluntários da <a target="_blank" href="https://brasil.io/home/">
                        <b>Brasil.io</b></a>. Sem o
                    trabalho dos 40 voluntários, que diariamente compilam os boletins epidemiológicos essa aplicação não
                    seria possível.</p>
                <p>
                    Caso queira conhecer a metodologia de coleta de dados <a
                        href="https://docs.google.com/document/d/1escumcbjS8inzAKvuXOQocMcQ8ZCqbyHU5X5hFrPpn4/edit#heading=h.dridhyh3vung"
                        target="_blank">clique aqui</a>
                </p>
                <hr />
                <h4 class="po-font-text-large-bold">Biblioteca de Componentes</h4>
                <p>
                    <a href="https://po-ui.io/" target="_blank">PO UI</a> sob a licença <a
                        href="https://github.com/po-ui/po-angular/blob/master/LICENSE" target="_blank">MIT License</a>
                </p>
                <p>
                    <a href="https://lottiefiles.com/" target="_blank">Lottie Files</a> sob a licença Free under
                    Creative
                    Commons License 2.0
                </p>
                <hr />
                <h4 class="po-font-text-large-bold">Licença</h4>
                <p>
                    Os dados estão sob a licença <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode"
                        target="_blank">CC-BY-SA</a>
                </p>
                <p>
                    A aplicação está sob a licença <a href="https://github.com/hppod/covid19-panel/blob/master/LICENSE"
                        target="_blank">MIT License</a>
                </p>
            </div>
        </po-widget>
    </div>
    <div class="po-row">
        <po-widget class="po-sm-12 po-md-12 po-lg-12 po-mt-2" p-title="Versões">
            <div class="po-md-12">
                <h4 class="po-font-text-large-bold">Versão 1.0</h4>
                <p class="po-font-text-uppercase">&nbsp; Painel "Brasil"</p>
                <p>&nbsp;&nbsp;&nbsp; - Total de casos acumulados no País.</p>
                <p>&nbsp;&nbsp;&nbsp; - Total de novos casos no País em relação ao dia anterior.</p>
                <p>&nbsp;&nbsp;&nbsp; - Detalhamento dos novos casos no País.</p>
                <p>&nbsp;&nbsp;&nbsp; - Total de mortes acumuladas no País.</p>
                <p>&nbsp;&nbsp;&nbsp; - Total de novas mortes no País em relação ao dia anterior.</p>
                <p>&nbsp;&nbsp;&nbsp; - Detalhamento das novas mortes no País.</p>
                <p>&nbsp;&nbsp;&nbsp; - Total de munícipios brasileiros.</p>
                <p>&nbsp;&nbsp;&nbsp; - Total de munícipios que possuem pelo menos um caso confirmado.</p>
                <p>&nbsp;&nbsp;&nbsp; - Porcentagem de munícipios brasileiros que possuem casos.</p>
                <p>&nbsp;&nbsp;&nbsp; - Total de munícipios que possuem pelo menos uma morte confirmada.</p>
                <p>&nbsp;&nbsp;&nbsp; - Porcentagem de munícipios brasileiros que possuem mortes.</p>
                <p>&nbsp;&nbsp;&nbsp; - Gráfico de novos casos por Estado.</p>
                <p>&nbsp;&nbsp;&nbsp; - Gráfico do total de casos acumulados no País.</p>
                <p class="po-font-text-uppercase">&nbsp; Painel "Como se prevenir"</p>
                <p>&nbsp;&nbsp;&nbsp; - Infográfico de como se prevenir em meio a pandemia.</p>
                <p class="po-font-text-uppercase">&nbsp; Painel "Estados"</p>
                <p>&nbsp;&nbsp;&nbsp; - Lista de Estados com número de casos confirmados e número de mortes.</p>
                <p class="po-font-text-uppercase">&nbsp; Painel "Sobre"</p>
                <p>&nbsp;&nbsp;&nbsp; - Desenvolvido por e contatos.</p>
                <p>&nbsp;&nbsp;&nbsp; - Créditos.</p>
                <p>&nbsp;&nbsp;&nbsp; - Histórico de alterações</p>
            </div>
        </po-widget>
    </div>
</po-page-detail>