<app-error [condition]="statusResponse == 500 "></app-error>
<po-page-detail p-title="Casos por Estado">
    <app-loading *ngIf="isLoading"></app-loading>
    <div *ngIf="statusResponse == 200 && !isLoading" class="po-row">
        <po-container [p-no-border]="true" class="po-lg-6 po-md-12 po-sm-12 po-mt-1">
            <app-loading *ngIf="isLoading"></app-loading>
            <po-container *ngIf="!isLoading" class="po-lg-12 po-md-12 po-sm-12">
                <span class="po-font-text-bold">Casos confirmados no Brasil</span>
                <google-chart [data]="geoChartCases" (chartError)='error($event)'></google-chart>
            </po-container>
            <po-container *ngIf="!isLoading" class="po-lg-12 po-md-12 po-sm-12 po-mt-2">
                <span class="po-font-text-bold">Mortes confirmadas no Brasil</span>
                <google-chart [data]="geoChartDeaths" (chartError)='error($event)'></google-chart>
            </po-container>
            <po-chart *ngIf="newCasesPerStateData.length > 0" class="po-lg-12 po-md-12 po-sm-12 po-mt-2"
                p-title="Novos casos por Estado" [p-series]="newCasesPerStateData" [p-type]="ChartTypeDonut">
            </po-chart>
        </po-container>
        <po-container [p-no-border]="true" class="po-lg-6 po-md-6 po-sm-12 po-mt-1">
            <po-container *ngIf="!isLoading" class="po-lg-12 po-md-12 po-sm-12">
                <po-table [p-columns]="columnsDetails" [p-items]="Data"> </po-table>
            </po-container>
            <po-chart *ngIf="newDeathsPerStateData.length > 0" class="po-lg-12 po-md-12 po-sm-12 po-mt-2"
                p-title="Novas mortes por Estado" [p-series]="newDeathsPerStateData" [p-type]="ChartTypeDonut">
            </po-chart>
        </po-container>
    </div>
</po-page-detail>