<po-page-detail *ngIf="statusResponse == 200 && !isLoading" p-title="Casos por Estado">
    <div class="po-row">
        <po-container [p-no-border]="true" class="po-lg-6 po-md-12 po-sm-12 po-mt-1">
            <po-container class="po-lg-12 po-md-12 po-sm-12">
                <span class="po-font-text-uppercase">Casos confirmados no Brasil</span>
                <google-chart [data]="geoChartCases"></google-chart>
            </po-container>
            <po-container class="po-lg-12 po-md-12 po-sm-12 po-mt-2">
                <span class="po-font-text-uppercase">Mortes confirmadas no Brasil</span>
                <google-chart [data]="geoChartDeaths"></google-chart>
            </po-container>
            <po-chart *ngIf="newCasesPerStateData.length > 0" class="po-lg-12 po-md-12 po-sm-12 po-mt-2"
                p-title="Novos casos por Estado" [p-series]="newCasesPerStateData" [p-type]="ChartTypeDonut">
            </po-chart>
        </po-container>
        <po-container [p-no-border]="true" class="po-lg-6 po-md-6 po-sm-12 po-mt-1">
            <po-container class="po-lg-12 po-md-12 po-sm-12">
                <po-table [p-columns]="columnsDetails" [p-items]="Data"> </po-table>
            </po-container>
            <po-chart *ngIf="newDeathsPerStateData.length > 0" class="po-lg-12 po-md-12 po-sm-12 po-mt-2"
                p-title="Novas mortes por Estado" [p-series]="newDeathsPerStateData" [p-type]="ChartTypeDonut">
            </po-chart>
        </po-container>
    </div>
</po-page-detail>