<po-page-detail p-title="Como se prevenir">
    <div class="po-row">
        <!-- <po-container [p-no-border]="true" class="po-lg-12"> -->
        <po-container [p-no-border]="true" class="po-lg-3">
            <ng-lottie [options]="optionsWashHands" [styles]="styles" height="175px" width="175px">
            </ng-lottie>
            <h1 class="po-font-subtitle po-text-center">Lave as mãos</h1>
            <p class="po-font-text po-text-center">Lave suas mãos com frequência. Use sabão e água ou um gel à base
                de álcool.</p>
        </po-container>
        <po-container [p-no-border]="true" class="po-lg-3">
            <ng-lottie [options]="optionsStayHome" [styles]="styles" height="175px" width="175px">
            </ng-lottie>
            <h1 class="po-font-subtitle po-text-center">Fique em casa</h1>
            <p class="po-font-text po-text-center">Evite sair sem necessidade. Se possível, fique em casa.</p>
        </po-container>
        <po-container [p-no-border]="true" class="po-lg-3">
            <ng-lottie [options]="optionsUseMask" [styles]="styles" height="175px" width="175px">
            </ng-lottie>
            <h1 class="po-font-subtitle po-text-center">Use máscara</h1>
            <p class="po-font-text po-text-center">Se for necessário sair de casa, use a máscara. Não toque nos
                olhos, no nariz ou na boca.</p>
        </po-container>
        <po-container [p-no-border]="true" class="po-lg-3">
            <ng-lottie [options]="optionsSocialDistancing" [styles]="styles" height="175px" width="175px">
            </ng-lottie>
            <h1 class="po-font-subtitle po-text-center">Mantenha distância</h1>
            <p class="po-font-text po-text-center">Além do uso de máscara, mantenha uma distância segura de qualquer
                pessoa.</p>
        </po-container>
        <po-container [p-no-border]="true" class="po-lg-6 po-md-12 po-sm-12">
            <ng-lottie [options]="optionsDoctors" [styles]="styles" height="250px" width="250px">
            </ng-lottie>
            <h1 class="po-font-subtitle po-text-center">Assistência médica</h1>
            <p class="po-font-text po-text-center">Se você tiver febre, tosse e dificuldade para respirar, procure
                assistência médica. Ligue antes de sair. Evite ir desnecessariamente a clínicas ou hospitais para
                permitir que os sistemas de saúde operem com mais eficiência, protegendo você e as outras pessoas.
            </p>
        </po-container>
        <po-container [p-no-border]="true" class="po-lg-6 po-md-12 po-sm-12">
            <ng-lottie [options]="optionsContact" [styles]="styles" height="250px" width="250px">
            </ng-lottie>
            <h1 class="po-font-subtitle po-text-center">Contatos</h1>
            <p class="po-font-text po-text-center">Disque Saúde: 136</p>
            <p class="po-font-text po-text-center">SAMU: 192</p>
            <p class="po-font-text po-text-center"><a
                    href="https://apps.apple.com/br/app/coronav%C3%ADrus-sus/id1408008382" targe="_blank">App
                    Coronavírus SUS - Apple</a></p>
            <p class="po-font-text po-text-center"><a
                    href="https://play.google.com/store/apps/details?id=br.gov.datasus.guardioes&hl=pt_BR"
                    targe="_blank">App Coronavírus SUS - Android</a></p>
        </po-container>
        <!-- </po-container> -->
    </div>
</po-page-detail>